@charset "utf-8";

#container.alarm {
  max-width: 750px;
  height: 100%;
  margin: auto;
  overflow-x: hidden;
  background-color: rgb(0, 28, 67);
  /*解决ios上滑动不流畅*/
  -webkit-overflow-scrolling: touch;
}

#container.alarm::-webkit-scrollbar {
  /*隐藏滚轮*/
  display: none;
  width: 0px;
}

#container .alarm_01 {
  height: 100%;
  width: 100%;
}

/*主屏幕*/
.alarm_screen {
  height: 100%;
  margin: 0 5%;
  width: 90%;
  position: relative;
  overflow-x: hidden;
  /*解决ios上滑动不流畅*/
  -webkit-overflow-scrolling: touch;
}

.alarm_screen::-webkit-scrollbar {
  /*隐藏滚轮*/
  display: none;
  width: 0px;
}

/* 题目 */
.alarm_screen .m_title {
  color: #FFFFFF;
  position: fixed;
  width: 90%;
  height: 0.6rem;
  top: 0;
  left: 0;
  font-weight: bolder;
  font-size: 0.36rem;
  padding: 0.5rem 5% 0.4rem 5%;
  background-color: rgb(0, 28, 67);
  z-index: 5;
  letter-spacing: 2.25px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.alarm_screen .m_title .back {
  /* height: 70%; */
  margin-right: 0.4rem;
}

.alarm_screen .m_title .back img {
  height: 100%;
}



/* 内容部分 */
.alarm_screen .m_content {
  margin-top: 1.55rem;
  width: 100%;
}

.alarm_screen .m_content .sb_tit {
  line-height: 0.5rem;
}

.alarm_screen .m_content .sb_tit select {
  width: 3.1rem;
  height: 0.5rem;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  background: transparent;
  color: #0167FF;
  border: 1px solid rgba(1,103,255,0.3);
  border-radius: 31px;
  letter-spacing: 1.75px;
  padding-left: 0.2rem;
}

.alarm_screen .m_content .sb_tit select#xmlist {
  width: 1.8rem;
}
.alarm_screen .m_content .sb_tit >span{
  display:inline-block;
  font-size:0.2rem;
  color:transparent;
  width:1.2rem;
  background:url('../images/neworder.svg') no-repeat center/contain;

  
  
}
.alarm_screen .m_content .sb_tit >span img{
  /* height:0.6rem; */
  width:1.2rem;
}

.alarm_screen .m_content .numobj {
  display: none;
  font-size: 0.25rem;
  width: 100%;
  line-height: 0.6rem;
  padding-top: 0.2rem;
  color: #fff;
}

.alarm_screen .m_content .numobj #shownum {
  color: red;
}

.alarm_screen .m_content .gjdata {
  width: 100%;

}

.alarm_screen .m_content .gjdata .data_wrap {
  width: 100%;
}

.alarm_screen .m_content .gjdata .data_wrap a.datalista {
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  border-bottom: 1px dotted #1B3150;
  display: block;

}

.alarm_screen .m_content .gjdata .data_wrap a.datalista span {
  font-size: 0.28rem;
  height: 1rem;
  color: #7F94B2;
  letter-spacing: 0;
}

.alarm_screen .m_content .gjdata .data_wrap a.datalista span.dataleft {
  float: left;
  width: 50%;
  line-height: 1rem;
}

.alarm_screen .m_content .gjdata .data_wrap a.datalista span.dataright {
  float: right;
  width: 45%;
  height: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.alarm_screen .m_content .gjdata .data_wrap a.datalista span.dataright .dataleft{
  width:100px;
}

.alarm_screen .m_content .gjdata .data_wrap a.datalista span.dataright span {
  font-size: 0.28rem;
  letter-spacing: 0;
  height: 0.4rem;
  line-height: 0.4rem;
  position: relative;
  width: 60px;
  text-align: center;
  
  
}

.alarm_screen .m_content .gjdata .data_wrap a.datalista span.dataright span.readyaccept {
  background: #15345F;
  border-radius: 12px;
  font-family: MicrosoftYaHei;
  font-size: 11px;
  color: #FF3C63;
  letter-spacing: 1px;
  
}

.alarm_screen .m_content .gjdata .data_wrap a.datalista span.dataright span.alreadydone {
  background: #15345F;
  border-radius: 12px;
  font-family: MicrosoftYaHei;
  font-size: 11px;
  color: #23B7E7;
  letter-spacing: 1px;
}
.alarm_screen .m_content .gjdata .data_wrap a.datalista span.dataright span.bedoing {
  background: #15345F;
  border-radius: 12px;
  font-family: MicrosoftYaHei;
  font-size: 11px;
  color: #23E78F;
  letter-spacing: 1px;
}

.alarm_screen .m_content .gjdata .data_wrap a.datalista span.dataright span.dataicon {
  width: 0.6rem;
}

.alarm_screen .m_content .gjdata .data_wrap a.datalista span.dataright span.dataicon img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0.4rem;
  height: 0.4rem;
  margin-top: -0.2rem;
  margin-left: -0.2rem;
}