@charset "utf-8";

#container.history {
  max-width: 750px;
  height: 100%;
  margin: auto;
  overflow-x: hidden;
  background-color: rgb(0, 28, 65);
  /*解决ios上滑动不流畅*/
  -webkit-overflow-scrolling: touch;
}

#container.history::-webkit-scrollbar {
  /*隐藏滚轮*/
  display: none;
  width: 0px;
}

#container .history_01 {
  height: 100%;
  width: 100%;
}

/*主屏幕*/
.history_screen {
  height: 100%;
  margin: 0 5%;
  width: 90%;
  position: relative;
  overflow-x: hidden;
  /*解决ios上滑动不流畅*/
  -webkit-overflow-scrolling: touch;
}

.history_screen::-webkit-scrollbar {
  /*隐藏滚轮*/
  display: none;
  width: 0px;
}


/* 题目 */
.history_screen .m_title {
  position: fixed;
  width: 90%;
  height: 0.6rem;
  top: 0;
  left: 0;
  font-weight: bolder;
  font-size: 0.36rem;
  padding: 0.5rem 5% 0.4rem 5%;
  background-color: rgb(0, 28, 65);
  z-index: 5;
  letter-spacing: 2.25px;
  color: #fff;
  display: flex;
  justify-content: start;
  align-items: center;
}

.history_screen .m_title .back {
  height: 70%;
  margin-right: 0.4rem;
}

.history_screen .m_title .back img {
  height: 100%;
}

/* 历史曲线内容 */
.history_screen .m_con {
  margin-top: 1.55rem;
  width: 100%;
}

.history_screen .m_con .cs_common {
  width: 100%;
}

.history_screen .m_con .cs_common .cs_tit {
  width: 90%;
  font-weight: bold;
  font-size: 0.3rem;
  color: #7F94B2;
  /* letter-spacing: 1.75px; */
}

.history_screen .m_con .cs_common .cs_con {
  width: 100%;
}


.history_screen .m_con .cs_common .cs_con .tree {
  display: block;
  margin: auto;
  /* overflow-y: scroll; */
  /* overflow-x: scroll; */
  position: relative;
}

.history_screen .m_con .cs_common .cs_con .tree .isShow {
  width: 0.4rem;
  margin-right: 0.3rem;
  vertical-align: middle;
}

.history_screen .m_con .cs_common .cs_con a {
  text-decoration: none;
  font-size: 0.25rem;
  color: #7F94B2;
  letter-spacing: 1.75px;
  vertical-align: middle;
}

.history_screen .m_con .cs_common .cs_con ul li {
  list-style-type: none;
  position: relative;
  line-height: 0.8rem;

}

.history_screen .m_con .cs_common .cs_con .tree span {
  font-size: 0.26rem;
  cursor: pointer;
  display: inline-block;
  border: 1px solid #e2e2e2;
  width: 0.2rem;
  line-height: 0.16rem;
  text-align: center;
  height: 0.2rem;
  background-color: whitesmoke;
  position: absolute;
  left: 0.16rem;
  top: 0.08rem;
}

.history_screen .m_con .cs_common .cs_con .tree ul span {
  left: -0.32rem;
}

.history_screen .m_con .cs_common .cs_con .tree ul {
  width: 90%;
  list-style-type: none;
  margin-top: 0px;
  position: relative;
  padding-left: 5%;
}

.history_screen .m_con .cs_common .cs_con .label {
  width: 0.4rem;
  height: 0.4rem;
  position: inherit;
  background-image: url(../images/uncheck.png);
  background-size: 100% 100%;
  display: inline-block;
  margin: 0 0.08rem 0 0;
  vertical-align: middle;
}

.history_screen .m_con .cs_common .cs_con input:checked+label {
  width: 0.4rem;
  height: 0.4rem;
  margin: 0 0.08rem 0 0;
  background-image: url(../images/checked.png);
}

.history_screen .m_con .cs_common .cs_con input {
  display: none;
}

/* 时间类型 */
.history_screen .m_con .cs_sjstyle.cs_common {
  margin-top: 0.3rem;
  line-height: 0.5rem;
}

.history_screen .m_con .cs_sjstyle.cs_common span {
  display: inline-block;
  width: 20%;
  text-align: left;
  line-height: 0.6rem;
  vertical-align: middle;
  font-size: 0.28rem;
}

.history_screen .m_con .cs_sjstyle.cs_common select {
  width: 60%;
  height: 0.6rem;
  line-height: 0.6rem;
  vertical-align: middle;
  border: 1px solid rgba(1, 103, 255, 0.15);
  /* color: #fff; */
  /* background: rgba(1, 103, 255, 0.15); */
  text-indent: 0.2rem;
  border-radius: 2px;
}

/* 时间选择 */
.history_screen .m_con .cs_sjchose.cs_common {
  margin-top: 0.3rem;
}

.history_screen .m_con .cs_sjchose.cs_common span {
  display: block;
  width: 100%;
  text-align: left;
  line-height: 0.6rem;
  font-size: 0.28rem;
}


.history_screen .m_con .cs_sjchose.cs_common .section {
  position: relative;
  line-height: 0.5rem;
  margin-top: 0.1rem;
  display: flex;
  /* justify-content: space-around; */
  justify-content: space-between;
}

.history_screen .m_con .cs_sjchose.cs_common .section>input {
  /* font-size: 14px; */
  width: 48%;
  height: 0.5rem;
  display: inline-block;
  text-indent: 0.2rem;
  border: 1px solid rgba(1, 103, 255, 0.15);
  background: rgba(1, 103, 255, 0.15);
  color: #fff;
  letter-spacing: 1.75px;
}

.history_screen .m_con .cs_sjchose.cs_common .section>input::-webkit-input-placeholder {
  color: #7287A6;
  letter-spacing: 1.75px;
  font-size: 0.28rem;
}

.history_screen .m_con .cs_sjchose.cs_common .section>input::-moz-placeholder {
  color: #7287A6;
  letter-spacing: 1.75px;
  font-size: 0.28rem;
}

.history_screen .m_con .cs_sjchose.cs_common .section>input::-ms-input-placeholder {
  color: #7287A6;
  letter-spacing: 1.75px;
  font-size: 0.28rem;
}


/* 查询结果 */
.history_screen #wraplsqx {
  width: 100%;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;

}

/* 已选参数样式 */
#chosed {
  display: none;
  margin-top: 0.2rem;
}

#chosed #chosed_con {
  font-size: 0.24rem;
}

#chosed #chosed_con span {
  margin-right: 0.3rem;
}

#time_con {
  display: none;
}

.history_screen .m_con #subdata {
  width: 100%;
  display: none;
  font-weight: 400;
  color: #fff;
  text-align: center;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
  user-select: none;
  touch-action: manipulation;
  height: 0.64rem;
  line-height: 0.64rem;
  font-size: 0.28rem;
  border-radius: 0.08rem;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, .045);
  margin-top: 0.3rem;
}

.history_screen .m_con #subdata.btnclass {
  background-color: rgb(1, 103, 255);
  border-color: rgb(1, 103, 255);

}

.history_screen .m_con #subdata.btnclass_dis {
  background-color: #bfb4b4;
  border-color: #bfb4b4;

}

.history_screen #wraplsqx #lsqx>div:last-child {
  font-size: 0.2rem;
  top: 0 !important;
  z-index: 100;

}

.history_screen #wraplsqx #lsqx>div:last-child h4 {
  margin: 0 0 0.2rem 0 !important;
}

.history_screen #wraplsqx #lsqx>div:last-child>div:last-child {
  bottom: 20% !important;
}