@charset "utf-8";

#container.index {
  max-width: 750px;
  height: 100%;
  margin: auto;
  overflow-x: hidden;
  background-image: linear-gradient(180deg, #001F48 0%, #001534 100%);
  /* background: -webkit-linear-gradient(top,
      #0167FF 66%,
      #001F48
      #fff); */
  /*解决ios上滑动不流畅*/
  -webkit-overflow-scrolling: touch;
}

#container.index::-webkit-scrollbar {
  /*隐藏滚轮*/
  display: none;
  width: 0px;
}

#container .index_01 {
  height: 100%;
  width: 100%;
  background: url('../images/bg.svg') no-repeat;
}

/*主屏幕*/
.index_screen {
  height: 100%;
  margin: 0 5%;
  width: 90%;
  position: relative;
  overflow-x: hidden;
  /*解决ios上滑动不流畅*/
  -webkit-overflow-scrolling: touch;
}

.index_screen::-webkit-scrollbar {
  /*隐藏滚轮*/
  display: none;
  width: 0px;
}


/*top*/
.top_bg {
  width: 100%;
  overflow: hidden;
}

.top_bg .top_main {
  width: 100%;
  height: 0.8rem;
  margin-top: 0.6rem;
  position: relative;
}

.top_bg .top_main .logo {
  position: absolute;
  left: 0;
  top: 0;
  width: 80%;
  height: 0.7rem;
  line-height: 0.8rem;
  font-size: 0.3rem;
  color: #fff;
}

.top_bg .top_main .menumore {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

.top_bg .top_main .menumore .user_img {
  width: 0.8rem;
  height: 100%;
}

.top_bg .top_main .menumore .user_img img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.top_bg .top_main .menumore .out_img {
  display: inline-block;
  width: 0.4rem;
  height: 100%;
  position: relative;
}

.top_bg .top_main .menumore .out_img img {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 0.4rem;
  margin-top: -0.2rem;
}

.index_screen #selectpj.arrowdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  /* background: #0167FF url("../images/selectdown.png") no-repeat right; */
  background: rgba(1, 103, 255, 0.4) url("../images/selectdown.png") no-repeat right;
  background-size: 0.25rem;
  background-position-x: 94%;
  width: 50%;
  height: 0.6rem;
  line-height: 0.6rem;
  vertical-align: middle;
  /* border: 1px solid #0167FF; */
  color: #fff;
  text-indent: 0.2rem;
  border-radius: 0.6rem;
}

/* 实时功率 */
.ssgl {
  width: 100%;
  margin-top: 0.35rem;
}

.ssgl p {
  letter-spacing: 1.75px;
  width: 100%;
  font-size: 0.28rem;
  color: #fff;
  opacity: 0.6;
  text-align: center;
}

.ssgl .c_number {
  margin: auto;
  height: 0.88rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.2rem;
}

.ssgl .c_number div {
  width: 0.68rem;
  height: 0.88rem;
  background: url('../images/ssglbgi.svg') no-repeat center/cover;
  margin-right: 0.1rem;
  position: relative;
}

.ssgl .c_number div:last-child {
  background: none;
}

.ssgl .c_number div span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0.88rem;
  line-height: 0.88rem;
  text-align: center;
  font-weight: bolder;
  font-size: 0.72rem;
  color: #FFFFFF;
}

.ssgl .c_number div:last-child span {
  opacity: 1;
  font-size: 0.36rem;
  color: #5297FF;
  letter-spacing: 2.25px;
  line-height: 3.2;
}



/* 其他四个参数 */
.qtsg {
  width: 100%;
  margin-top: 0.75rem;
  margin-bottom: 0.8rem;
}

.qtsg ul {
  width: 100%;
  display: flex;
  justify-content: start;
}

.qtsg ul li {
  flex: auto;
  /* flex: 1; */
  color: #FFFFFF;
  height: 0.8rem;
  text-align: center;
  position: relative;
}


.qtsg ul li:nth-child(1) {
  flex-basis: 1.4rem;
  text-align: left;
}

.qtsg ul li:nth-child(2) {
  flex-basis: 2.2rem;

}

.qtsg ul li:nth-child(3) {
  flex-basis: 2.2rem;
}

.qtsg ul li .divborder {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 0.5rem;
  margin-top: -0.25rem;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}

.qtsg ul li .divcon {
  width: 100%;
  height: 0.8rem;
}



.qtsg ul li p {

  font-size: 0.20rem;
  opacity: 0.4;
  color: #FFFFFF;
  letter-spacing: 1.25px;
}

.qtsg ul li .qtdiv {
  /* height: 0.9rem; */
  font-size: 0.36rem;
  letter-spacing: 1.5px;
  color: #FFFFFF;
  opacity: 0.9;
}

.innerwrap {
  width: 98%;
  margin: 0.3rem auto;

}

.innerwrap ul {
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.innerwrap li {
  background-image: linear-gradient(270deg, rgba(12, 44, 89, 0.45) 7%, #0C2C59 90%);
  width: 3.1rem;
  height: 1.6rem;
  border-radius: 0.04rem;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
  position: relative;
  margin-bottom: 0.42rem;
}

.innerwrap li .xmfenlei {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2.4rem;
  height: 0.52rem;
  line-height: 0.52rem;
  margin-left: -1.2rem;
  margin-top: -0.26rem;
}

.innerwrap li .xmfenlei img {
  display: inline-block;
  width: 0.52rem;
  height: 0.52rem;
  vertical-align: top;
}

.innerwrap li .xmfenlei p {
  display: inline-block;
  height: 0.52rem;
  /* margin-top: 0.05rem; */
  font-size: 0.28rem;
  color: #7F94B2;
  vertical-align: top;
}


/* 退出弹框 */
.layui-layer.layui-layer-dialog .layui-layer-content {
  font-size: 0.35rem;
  text-align: center;
  color: #6d6a6a;
}

.layui-layer.layui-layer-dialog .layui-layer-btn.layui-layer-btn- {
  text-align: center;
  padding: 0;
  height: 1rem;
}

.layui-layer.layui-layer-dialog .layui-layer-btn.layui-layer-btn- a {
  font-size: 0.25rem;
}