@charset "utf-8";

#container.orderdetail {
  max-width: 750px;
  height: 100%;
  margin: auto;
  overflow-x: hidden;
  background-color: rgb(0, 28, 67);
  /*解决ios上滑动不流畅*/
  -webkit-overflow-scrolling: touch;
}

#container.orderdetail::-webkit-scrollbar {
  /*隐藏滚轮*/
  display: none;
  width: 0px;
}

#container .orderdetail_01 {
  height: 100%;
  width: 100%;
}

/*主屏幕*/
.orderdetail_screen {
  height: 100%;
  margin: 0 5%;
  width: 90%;
  position: relative;
  overflow-x: hidden;
  /*解决ios上滑动不流畅*/
  -webkit-overflow-scrolling: touch;
}

.orderdetail_screen::-webkit-scrollbar {
  /*隐藏滚轮*/
  display: none;
  width: 0px;
}

/* 题目 */
.orderdetail_screen .m_title {
  color: #FFFFFF;
  position: fixed;
  width: 90%;
  height: 0.6rem;
  top: 0;
  left: 0;
  font-weight: bolder;
  font-size: 0.36rem;
  padding: 0.5rem 5% 0.4rem 5%;
  background-color: rgb(0, 28, 67);
  z-index: 5;
  letter-spacing: 2.25px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.orderdetail_screen .m_title .back {
  height: 70%;
  margin-right: 0.4rem;
}

.orderdetail_screen .m_title .back img {
  height: 100%;
}


/* 内容部分 */
.orderdetail_screen .tit_con{
  width:100%;
  height:4.4rem;
  margin-top: 1.55rem;
  position:relative;
}
.orderdetail_screen .tit_con .con_position{
  position:absolute;
  top:0;
  left:0;
  z-index:2;
  width:82%;
  height:100%;
  padding:0 9%;
  font-size:0.32rem;
  color:#fff;
}
.orderdetail_screen .tit_con .con_position .toppart {
  width:100%;
  height:0.88rem;
  position:relative;
  
}
.orderdetail_screen .tit_con .con_position .toppart .floatpart{
  height:100%;
  position: absolute;
  top:0;
  height:0.88rem;
  line-height: 0.88rem;
  font-weight:bolder;
  font-size: 0.32rem;
  letter-spacing: 1px;
}
.orderdetail_screen .tit_con .con_position .toppart .pleft {
  left:0;
  color: #C2D4F1;
}
.orderdetail_screen .tit_con .con_position .toppart .pright {
  right:0;
}

.orderdetail_screen .tit_con .con_position .bottompart{
  width:100%;
  margin-top:0.4rem;
}
.orderdetail_screen .tit_con .con_position .bottompart li{
  height:0.32rem;
  width:100%;
  margin-top:0.15rem;
}
.orderdetail_screen .tit_con .con_position .bottompart li span{
  display:inline-block;
  font-size:0.24rem;
  letter-spacing: 0.75px;
}

.orderdetail_screen .tit_con .con_position .bottompart li span.lileft{
  width:30%;
  color: #8990A2;
}
.orderdetail_screen .tit_con .con_position .bottompart li span.liright {
  width: 70%;
  color: #C2D4F1;
}

/* .orderdetail_screen .tit_con .con_position .bottompart li span.lileft {
  width: 30%;
  color: #8990A2;
}

.orderdetail_screen .tit_con .con_position .bottompart li span.liright {
  width: 70%;
  color: #C2D4F1;
} */

.orderdetail_screen .title {
  font-family: SourceHanSansCN-Bold;
  font-size: 0.32rem;
  color: #7F94B2;
  letter-spacing: 1px;
  margin-top:0.5rem;
  font-weight:bold;
}
.orderdetail_screen .gj_con {
  width:100%;
  margin-top:0.1rem;
}
.orderdetail_screen .gj_con li {
  width:100%;
  height:1rem;
  position: relative;
}
.orderdetail_screen .gj_con li span {
  position: absolute;
  height:100%;
  line-height:1rem;
  width:50%;
  font-size:0.28rem;
  letter-spacing: 0;
  font-family: SourceHanSansCN-Regular;
  border-bottom: 1px solid #1B3150;
}

.orderdetail_screen .gj_con li span.lileft {
  left:0;
  color: #7F94B2;
}
.orderdetail_screen .gj_con li span.liright {
  right:0;
  text-align: right;
  color: #FFFFFF;
}

.orderdetail_screen .gj_con li span.liright img{
  position: absolute;
  right: 0%;
  top: 50%;
  width: 0.4rem;
  height: 0.4rem;
  margin-top: -0.2rem;
  margin-left: -0.2rem;
}

.orderdetail_screen .hdnr_con{
  width:100%;
}
.orderdetail_screen .hdnr_con .tit{
  font-size: 0.28rem;
  color: #7F94B2;
  letter-spacing: 0;
  margin:0.1rem 0 0.2rem 0;
}

.orderdetail_screen .hdnr_con textarea{
  width:94%;
  height:1.5rem;
  padding:0.1rem 2%;
  background: #001635;
  border: 1px solid #1B3150;
  color:#7F94B2;
}
.orderdetail_screen .hdnr_con textarea::-webkit-input-placeholder{
  font-family: SourceHanSansCN-Regular;
  font-size: 0.28rem;
  color: #536680;
  letter-spacing: 0;
}
.orderdetail_screen .hdnr_con textarea::-ms-input-placeholder {
  font-family: SourceHanSansCN-Regular;
  font-size: 0.28rem;
  color: #536680;
  letter-spacing: 0;
}
.orderdetail_screen .hdnr_con textarea::-moz-input-placeholder {
  font-family: SourceHanSansCN-Regular;
  font-size: 0.28rem;
  color: #536680;
  letter-spacing: 0;
}
.orderdetail_screen .hdnr_con .hdcs{
  width:100%;
  height:auto;
  border-bottom:1px solid #1B3150;
  font-family: SourceHanSansCN-Regular;
  font-size: 0.28rem;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 0.44rem;
  white-space:normal;
  word-break:break-all;
  word-wrap:break-word;

}

.orderdetail_screen .hdnr_con .hdfj{
  width:100%;
  font-size: 0.28rem;
}

.orderdetail_screen .hdnr_con .hdfj span {
  display:inline-block;
  padding:0.1rem 0.2rem;
  font-family: MicrosoftYaHei;
  font-size: 0.28rem;
  color: #0167FF;
  letter-spacing: 0.88px;
  background: rgba(35, 62, 106,0.44);
  border-radius: 2px;
  margin-bottom:0.2rem;
  margin-right:0.2rem;

}

/* 下拉框 */
.gj_con .liright select{
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: transparent url("../images/arrowsr.svg") no-repeat right;
  background-size: 0.25rem;
  background-position-x: 94%;
  width: 70%;
  height: 0.6rem;
  line-height: 0.6rem;
  vertical-align: middle;
  border: none;
  color: #fff;
  /* text-indent: 0.2rem; */
  color: #536680;
  text-align:right;

}
.gj_con .liright input{
  width: 75%;
  height: 0.6rem;
  line-height: 0.6rem;
  color:#536680;
  text-align:right;
  background:transparent;
  margin-right: 0.1rem;
}

.gj_con .liright input::-webkit-input-placeholder {
  /* WebKit browsers 适配谷歌 */
  color:#536680;
}

.gj_con .liright input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 适配火狐 */
  color:#536680;
}

.gj_con .liright input::-moz-placeholder {
  /* Mozilla Firefox 19+ 适配火狐 */
  color:#536680;
}

.gj_con .liright input:-ms-input-placeholder {
  /* Internet Explorer 10+  适配ie*/
  color:#536680;
}


/* 上传文件 */
.orderdetail_screen .layui-upload .layui-btn{
  font-size: 0.24rem;
  height: 0.5rem;
  line-height: 0.5rem;
  padding: 0 0.2rem;
}
.orderdetail_screen .layui-upload .layui-btn.layui-btn-danger{
  height:0.4rem;
  line-height: 0.4rem;
  padding:0 0.1rem;
  margin-left:0;
}
.orderdetail_screen .layui-upload #testListAction {
  background:red;
}
.orderdetail_screen .layui-upload .layui-table th,
.orderdetail_screen .layui-upload .layui-table td {
  font-size:0.24rem !important;
  text-align:center;
  padding:0 !important;
}

/* 工单处理 */
.orderdetail_screen .orderdeal{
  width:100%;
  height:0.8rem;
  line-height:0.8rem;
}
.orderdetail_screen .orderdeal input {
  vertical-align: middle;
  margin-right:0.1rem;
}
.orderdetail_screen .orderdeal label {
  vertical-align: middle;
  margin-right:0.3rem;
  color: #7F94B2;
}


/* 提交按钮 */
.wrap_btn {
  width:100%;
  margin-bottom: 0.5rem;
}
.wrap_btn .sub_btn{
  width:80%;
  margin:auto;
  height:0.8rem;
  line-height:0.8rem;
  text-align:center;
  background: #0167FF;
  border-radius:0.6rem;
  color:#fff;


  font-family: SourceHanSansCN-Regular;
  font-size: 0.36rem;
  color: #FFFFFF;
  letter-spacing: 2.25px;

}
