@charset "utf-8";

#container.tips {
    max-width: 750px;
    height: 100%;
    margin: auto;
    overflow-x: hidden;
    /*解决ios上滑动不流畅*/
    -webkit-overflow-scrolling: touch;
}

#container.tips::-webkit-scrollbar {
    /*隐藏滚轮*/
    display: none;
    width: 0px;
}

#container .tips_01 {
    height: 100%;
    width: 100%;
}

/*主屏幕*/
.tips_screen {
    height: 100%;
    margin: 0 5%;
    width: 90%;
    position: relative;
    overflow-x: hidden;
    /*解决ios上滑动不流畅*/
    -webkit-overflow-scrolling: touch;
}

.tips_screen::-webkit-scrollbar {
    /*隐藏滚轮*/
    display: none;
    width: 0px;
}

/* 题目 */
.tips_screen .m_title {
    position: fixed;
    width: 90%;
    height: 0.6rem;
    top: 0;
    left: 0;
    font-weight: bolder;
    font-size: 0.36rem;
    padding: 0.5rem 5% 0.4rem 5%;
    color: #444;
    background-color: #fff;
    z-index: 5;
    letter-spacing: 2.25px;
    color: #333;
    display: flex;
    justify-content: start;
    align-items: center;
}

.tips_screen .m_title .back {
    height: 70%;
    margin-right: 0.4rem;
}

.tips_screen .m_title .back img {
    height: 100%;
}

.tips_screen .m_content {
    font-size: 0.3rem;
    margin-top: 1.55rem;
    width: 100%;
}

.tips_screen .m_content .con_main {
    margin-top: 0.2rem;
}

.tips_screen .m_content .con_main:last-child {
    margin-bottom: 0.5rem;
}

.tips_screen .m_content .con_main .main_tit {
    margin-bottom: 0.1rem;
}