@charset "utf-8";

#ywnum  #ywnumwrap.ywnum{
  width:100%;
  font-size:0px;
}
#ywnum  #ywnumwrap.ywnum p{
  font-size: 12px !important;
  display:inline-block;
  width:50%;
}
#ywnum  #ywnumwrap.ywnum p span{
  display:inline-block;
  font-size: 12px;
  height:30px;
  line-height:30px;
  font-weight: bold;
  font-family: MicrosoftYaHei;
  color: #CDDDF3;
}
#ywnum  #ywnumwrap.ywnum p span:first-child{
  margin-left: 5px;
  width:35%;
}