@charset "utf-8";

#container.mainmonitor {
  max-width: 750px;
  height: 100%;
  margin: auto;
  overflow-x: hidden;
  background-color: rgb(0, 28, 65);
  /*解决ios上滑动不流畅*/
  -webkit-overflow-scrolling: touch;
}

#container.mainmonitor::-webkit-scrollbar {
  /*隐藏滚轮*/
  display: none;
  width: 0px;
}

#container .mainmonitor_01 {
  height: 100%;
  width: 100%;
}

/*主屏幕*/
.mainmonitor_screen {
  height: 100%;
  margin: 0 5%;
  width: 90%;
  position: relative;
  overflow-x: hidden;
  /*解决ios上滑动不流畅*/
  -webkit-overflow-scrolling: touch;
}

.mainmonitor_screen::-webkit-scrollbar {
  /*隐藏滚轮*/
  display: none;
  width: 0px;
}


/* 题目 */
.mainmonitor_screen .m_title {
  position: fixed;
  width: 90%;
  height: 0.6rem;
  top: 0;
  left: 0;
  font-weight: bolder;
  font-size: 0.36rem;
  padding: 0.5rem 5% 0.4rem 5%;
  z-index: 5;
  letter-spacing: 2.25px;
  color: #fff;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: rgb(0, 28, 65);
}

.mainmonitor_screen .m_title .back {
  height: 70%;
  margin-right: 0.4rem;
}

.mainmonitor_screen .m_title .back img {
  height: 100%;
}


/* 项目列表 */
.mainmonitor_screen .m_list {
  margin-top: 1.55rem;
  width: 100%;
}

.mainmonitor_screen .m_list .l_con {
  width: 86%;
  padding: 6%;
  margin: 0 auto 0.5rem;
  box-shadow: 0 6px 12px 0 rgba(0, 16, 40, 0.33);
  border-radius: 0.08rem;
  background: #112957;
}

.mainmonitor_screen .m_list .l_con .xmlist {
  width: 100%;
  font-size: 0.28rem;
  color: #0167ff;
  height: 0.65rem;
  letter-spacing: 1.75px;
}

.mainmonitor_screen .m_list .l_con .xmtit {
  font-size: 0.36rem;
  height: 0.7rem;
  color: #fff;
  letter-spacing: 2.25px;
}

.mainmonitor_screen .m_list .l_con .xmdata {
  width: 100%;
  height: 0.8rem;
  display: flex;
  justify-content: start;
  align-items: center;
  color: #666;
  font-size: 0.32rem;
}

.mainmonitor_screen .m_list .l_con .xmdata span {
  margin-right: 0.16rem;
  font-size: 0.28rem;
  color: #7F94B2;
  letter-spacing: 0;
}



.mainmonitor_screen .m_list .l_con .xmdata span.d_status {
  padding: 0.05rem 0.12rem;
  border-radius: 0.3rem;
  letter-spacing: 0.03rem;
  color: #fff;
  font-size: 0.24rem;
}

.mainmonitor_screen .m_list .l_con .xmdata span.d_status.normal {
  background: #1ce864;
}

.mainmonitor_screen .m_list .l_con .xmdata span.d_status.unnormal {
  background: #d42c2c;
}

.mainmonitor_screen .m_list .l_con .xmdata span.d_status.unstart {
  background: #d0d062;
}

.mainmonitor_screen .m_list .l_con .xmaddress {
  width: 100%;
  height: 0.8rem;
  display: flex;
  justify-content: start;
  align-items: center;
  color: #666;
  opacity: 0.8;
  font-size: 0.4rem;
}

.mainmonitor_screen .m_list .l_con .xmaddress div {

  margin-right: 0.2rem;
  font-size: 0.3rem;
  color: #66768D;
  letter-spacing: 0.35px;

}

.mainmonitor_screen .m_list .l_con .xmaddress img {
  width: 0.3rem;
  margin-top: 0.1rem;
}

.mainmonitor_screen .m_list .l_con .xmdetail {
  width: 100%;
  position: relative;
  height: 0.9rem;
  padding-top: 0.4rem;
}

.mainmonitor_screen .m_list .l_con .xmdetail p {
  position: absolute;
  color: #fff;
  padding: 0.15rem 0.4rem;
  background: #0167ff;
  border-radius: 0.5rem;
  font-size: 0.28rem;
  letter-spacing: 1.75px;
}